{% extends 'base.html' %}

{% block title %}IPSoft Empleados{% endblock %}

{% block content %}<!DOCTYPE html>
    <h1>Lista de Empleados</h1>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Profesión</th>
            <th scope="col">Especialidad</th>
          </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.documento }}</td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.profesion }}</td>
                    <td>{{ empleado.especialidad }}</td>
                </tr>
            {% endfor %}
            </tbody>
      </table>

    </ul>
{% endblock %}